:root{
    background-color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}
body{
    height: 110%;
}
header{
    margin-bottom: 5%;    
    .headerstart{
        display: flex;
        justify-content: space-between;
        background-color: #6a0115;
        margin-bottom: 5%;

        #opciones{
            display: flex;
            width: 65px;
            height: 65px;
            border-radius: 25%;
        }
        #logo{
            display: flex;
            justify-content: end;
            border-radius: 25%;
            width: 65px;
            align-items: center;
        }
        }
.headerend{
        color: white;
        font-family: "Bebas Neue", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 50px;
          

}
}
nav{
    margin-bottom: 10%;
    display: flex;
    #navleft{
        background-color: white;
        width: 96%;
        height: 100%;
        border-color: gray;
        display: flex;
        flex-direction: row;
        border-radius: 0% 25% 25% 0%;
    }
        button{
        background-color: transparent;
        border: none;
        width: 15%;
        img{
            display: flex;
            width: 100%;
            height: 100%;

        }
    }
    input{
        align-items: start;
        background-color: transparent;
        font-size: 100%;
        height: 100%;
        border: none;
        outline: none;
     }
     #navright{
        display: flex;
        justify-content: center;
        width: 20%;
        img{
            display: flex;
            justify-content: end;
            border-radius: 25%;
            width: 65px;
            align-items: center;
        }
     }

}
main{

#art1{
    margin-bottom: 50%;
}
h1{
  margin-top: 10%;  
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 45px;
}
.carousel {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
      }
    
.slide {
        flex: 0 0 auto;
        width: 100%;
        scroll-snap-align: start;
      }
    
.slide img {
        width: 100%;
        height: auto;
      }


.articulos{
    color: white;
    margin-bottom: 15%;
    display: grid;
    grid-template-columns: 49% 49%;
    row-gap: 2%;
    column-gap: 2%;
    text-align: center;

    img{
    width: 150px;
    height: 150px;
    }

    .articulos:hover{
        background-color: gray;
        padding: 2%;
    }
.articulosdestacados{

    font-size: 16px;
    background-color: rgb(0, 0, 0);
    border: 2px solid rgb(173, 160, 160);
    border-radius: 10%;
    height: 110%;
    }
.articulosnormales{
    text-align: center;
    font-size: 16px;
    background-color: rgb(0, 0, 0);
    border: 2px solid rgb(173, 160, 160);
    border-radius: 10%;
    height: 110%;
}
    
}
#mainstart{
    color: white;
    text-align: center;
.referencia{
    height: 70px;
    width: 100%;
    align-items: center;
}
    
.precio{
    background-color: #c20000;
    font-family: 'Times New Roman', Times, serif;
}
.comprar{
    display: flex;
    width: 100%;
    height: 15%;
    justify-content: center;
    align-items: center;
}
.botoncompra{
    display: flex;
    align-items: center;
    margin-top: 4%;
    color: black;
    text-decoration: none;
    background-color: white;
    border-radius: 25% ;
    height: 50%;
}
.botoncompra:hoover{
    background-color: gray;
    padding: 2%;
}     
}
}
footer{
    background-color: #6a0115;
    height: 15%;
    border-radius: 30% 30% 0% 0%;
    width: 96%;
    position:fixed;
    bottom: 0;
    box-shadow: 0 .5rem 4rem #ffffff;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
#footerstart{
    height: 65px;
    color: #c20000;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-around;
    img{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        }
#cart{
        border-radius: 10%;
}
#notifications{
        border-radius: 20%;  


    }
}
#footerend{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-around;
        div{
            width: 40px;
            height: 40px;
            color: white;
            display: flex;
            justify-content: center;
            
        }
}
#footerstart img:hover{
    background-color: gray;
    padding: 2%;
   }
}
.botoncompra:hover {
    animation: 0,4 comprar ease-in-out alternate forwards ;
    animation-delay: 0s;
    animation-iteration-count: 3s;
    animation-play-state: running;
  }
  
  @keyframes comprar {
    0%,
    100% {
      transform: scale(1);
    }
    25%,
    75% {
      transform: scale(0.9);
    }
    50% {
      transform: scale(1.1);
    }
  }
  

@media only screen and (min-width: 1000px){
    :root{
        vistapc.html
    }
}