:root {
  background-color: rgb(0, 0, 0);
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}
header {
  #headercontainer {
    background-color: #6a0115;
    width: 100%;
    height: 15vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #c20000;
  }
  #headerleft {
    display: flex;
    flex-direction: row;
    align-items: center;
    h3 {
      font-family: "Roboto", sans-serif;
      font-weight: 500;
      font-style: normal;
      font-size: 25px;
    }
    img {
      display: flex;
      justify-content: end;
      border-radius: 25%;
      width:40px;
      align-items: center;
    }
  }

  #headerright {
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
    input {
      width: 60%;
      border: none;
      cursor: pointer;
    }
    button {
      height: 100%;
      border: none;
      cursor: pointer;
      background-color: #6a0115;
      img {
        display: flex;
        justify-content: end;
        border-radius: 25%;
        width: 40px;
        align-items: center;
      }
    }
  }
  #logocont {
    img {
      display: flex;
      justify-content: end;
      border-radius: 25%;
      width: 65px;
      align-items: center;
    }
  }

  #TIT {
    color: white;
    justify-content: center;
    font-family: "Bebas Neue", sans-serif, monospace;
    font-weight: 400;
    font-style: oblique;
    font-size: 50px;

    #pred {
      color: #c20000;
      font-family: "Bebas Neue", sans-serif, monospace;
      font-weight: 400;
    }
  }
}
main {
  h1 {
    text-align: center;
    margin-top: 10%;
    font-family: "Bebas Neue", sans-serif;
    color: white;
    font-weight: 400;
    font-style: normal;
    font-size: 45px;
  }
  .container-card {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    color: white;
    text-align: center;
  }
  .card {
    width: 100%;
    padding: 3%;
    margin: 10%;
    height: 50vw;
    float: left;
    box-sizing: border-box;
    text-align: center;
    position: relative;
    cursor: pointer;
  }
  .card .box {
    width: 100%;
    height: 50%;
    transition: 0.5s;
    transition: transform 0.5s ease;
    &:hover {
      transform: scale(1.1);
    }
  }
  .box.box1 {
    height: 80%;
    img {
      width: 50%;
      height: 25vw;
    }
  }
  .card.box.box1 {
    position: relative;
    background: #6a0115;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(10%);
  }

  .card:hover .box.box1 {
    opacity: 0.5;
    transform: translateY(0);
  }
  .content {
    height: 50%;

  }
  .box.box2 {
    height: 50%;
  }
  .card.box.box2 {
    position: relative;
    background: #6a0115;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    transform: translateY(10%);
  }
  .card:hover .box.box2 {
    box-shadow: 0 2px 15px 2px #fff;
    transform: translateY(0);
  }

  .referencia {
    width: 100%;
    align-items: center;
  }

  .precio {
    background-color: #c20000;
    font-family: "Times New Roman", Times, serif;
    height: 50%;
  }

  .comprar {
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: center;
    align-items: center;
  }

  .btncr {
    display: flex;
    align-items: center;
    margin-top: 4%;
    color: white;
    text-decoration: none;
    background-color: #6a0115;
    border-radius: 25%;
    height: 50%;
  }
}
.contactanos {
  margin-top: 15%;
  color: white;
  text-align: center;
}

@media (min-width: 768px) {
  header {
    #headercontainer {
      height: 5vw;
    }
    #headerright {
      width: 50%;
      input {
        width: 60%;
      }
    }
    #TIT {
      display: flex;
    }
  }
  main {
    .container-card .card {
      width: 25%;
      margin: 0%;

    }
    .card .box {
      height: 50%;
      img {
        width: 100%;
        height: 15vw;
      }
    }

    .content {
      height: 100%;
    }

    .box.box2 {
      height: 25%;
    }
    .precio {
      height: 30%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .comprar {
      height: 70%;
    }
  }
}
